
# GEMINI EXAMPLES
GEMINI_API_KEY=gemini_api_key
GEMINI_PROJECT_NAME=gemini_project_name
GEMINI_KEY_NAME=gemini_key_name
GEMINI_PROJECT_ID=gemini_project_id


# Frontend (Vite reads VITE_* vars)
VITE_API_URL=http://localhost:5080/api
